<?xml version="1.0" encoding="UTF-8"?><configuration>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
    <pattern>%d{HH:mm:ss.SSS} [%thread] %-4level [%logger.%method:%line]- %msg%n</pattern>
    </layout>
  </appender>  

    <appender name="LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">		
		<file>/home/mydir/logs/pscan.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		<fileNamePattern>pscan.%d{yyyy-MM-dd}.log</fileNamePattern>
		<!-- 30일 지난 파일은 삭제한다.  -->
		 <maxHistory>30</maxHistory>
		</rollingPolicy>		
		<encoder>
		<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-4level [%logger.%method:%line] - %msg %n</pattern>
		</encoder> 			
	</appender>

    <!-- 	RULES for logging DEBUG < INFO < WARN < ERROR < FATAL.-->
    <logger name="com.iruen.pscan" additivity="false">
        <level value="DEBUG"/>
<!--         <appender-ref ref="LOGFILE"/> -->
        <appender-ref ref="CONSOLE"/>
    </logger>    
    <!-- 3rdparty Loggers -->
    <logger name="org.springframework.core">
           <level value="error" />
    </logger>
   
    <logger name="org.springframework.beans">
           <level value="error" />
    </logger>
   
    <logger name="org.springframework.context">
           <level value="error" />
    </logger>

    <logger name="org.springframework.web">
           <level value="error" />
    </logger>
    
    <logger name="java.sql" additivity="false">
      		<level value="error"/>
      		<appender-ref ref="CONSOLE" />
    </logger>    
    <logger name="jdbc.sqlonly" additivity="false">
        	<level value="error"/>
        	<appender-ref ref="CONSOLE" />
    </logger>   
    <logger name="jdbc.resultset" additivity="false">
    		<appender-ref ref="CONSOLE" />
        	<level value="error"/>
    </logger>
    <logger name="jdbc.connection" additivity="false">
    		<appender-ref ref="CONSOLE" />
        	<level value="error"/>
    </logger>
 
  <!--
        <logger name="java.sql" level="debug" additivity="false">
            <appender-ref ref="CONSOLE" />
        </logger>
        <logger name="java.sql.connection" level="info" additivity="false">
             <appender-ref ref="CONSOLE" />
    </logger>
 -->         
  	<root>
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>