<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iruen.pscan.mapper.UserMapper">

	<resultMap id="result_user" type="com.iruen.pscan.vo.User" >
		<result property="idx" 			column="idx"/>
		<result property="userId" 		column="userId"/>
		<result property="name" 		column="name"/>
		<result property="password" 	column="password"/>
		<result property="email" 		column="email"/>
		<result property="adminYn" 		column="adminYn"/>
		<result property="deptNm" 		column="deptNm"/>
		<result property="deptNo" 		column="deptNo"/>
		<result property="positionNm" 	column="positionNm"/>
		<result property="userType" 	column="userType"/>
		<result property="description" 	column="description"/>
		<result property="useYn" 		column="use_yn"/>
		<result property="check_yn" 	column="check_yn"/>
		<result property="reg_id" 		column="reg_id"/>
		<result property="reg_dt" 		column="reg_dt"/>
		<result property="mod_id" 		column="mod_id"/>
		<result property="mod_dt" 		column="mod_dt"/>
	</resultMap>

	<insert id="createUser" useGeneratedKeys="true" keyProperty="idx" parameterType="user">	
		INSERT INTO user (
			  userId
			, name
			, password
			, email
			, adminYn
			, deptNm
			, deptNo
			, positionNm
			, userType
			, description
			, use_yn
			, reg_id
		) VALUES (
		  	  #{userId}
			, #{name}
			, #{password}
			, #{email}
			, #{adminYn}
			, #{deptNm}
			, #{deptNo}
			, #{positionNm}
			, #{userType}
			, #{description}
			, #{useYn}
			, #{reg_id}
		)
	</insert>
	
	
	<select id="getUsers" parameterType="user" resultMap="result_user"> 
		SELECT  idx
				, userId
				, name
				, password
				, email
				, adminYn
				, deptNm
				, deptNo
				, positionNm
				, userType
				, description
				, use_yn
				, check_yn
				, reg_id
				, reg_dt
				, mod_id
				, mod_dt
		  FROM user
		  <where>
		  	<if test="userId != null and userId != ''">
		  		AND userId = #{userId}
		  	</if>
		  	<if test="name != null and name != ''">
		  		AND name = #{name}
		  	</if>
		  	<if test="email != null and email != ''">
		  		AND email = #{email}
		  	</if>
		  	<if test="userType != null and userType != ''">
		  		AND userType = #{userType}
		  	</if>
		  	    AND use_yn = 'Y'
		  </where>
		  ORDER BY reg_dt desc
	</select>

	
	<select id="searchUsers" parameterType="hashmap" resultMap="result_user"> 
		SELECT  idx
				, userId
				, name
				, password
				, email
				, adminYn
				, deptNm
				, deptNo
				, positionNm
				, userType
				, description
				, use_yn
				, check_yn
				, reg_id
				, reg_dt
				, mod_id
				, mod_dt
		  FROM user
		  <where>
		  	<if test="type != null and type == 'id'">
		  		AND userId like CONCAT('%', #{text},'%')
		  	</if>
		  	<if test="type != null and type == 'name'">
		  		AND name like CONCAT('%', #{text},'%')
		  	</if>
		  	<if test="type != null and type == 'email'">
		  		AND email like CONCAT('%', #{text},'%')
		  	</if>
		  </where>
		  ORDER BY reg_dt desc
	</select>
	
	<select id="getUser" parameterType="user" resultMap="result_user"> 
		SELECT  idx
				, userId
				, name
				, password
				, email
				, adminYn
				, deptNm
				, deptNo
				, positionNm
				, userType
				, description
				, use_yn
				, check_yn
				, reg_id
				, reg_dt
				, mod_id
				, mod_dt
		  FROM user
		  <where>
		  	<if test="userId != null and userId != ''">
		  		AND userId = #{userId}
		  	</if>
		  	<if test="name != null and name != ''">
		  		AND name = #{name}
		  	</if>
		  	<if test="email != null and email != ''">
		  		AND email = #{email}
		  	</if>
		  	<if test="idx != null and idx != ''">
		  		AND idx = #{idx}
		  	</if>
		  	    AND use_yn = 'Y'
		  </where>
	</select>	
	
	<update id="changeUser" parameterType="user">
		UPDATE user
		<set>
			<if test="userId != null">userId = #{userId},</if>
			<if test="name != null">name = #{name},</if>
			<if test="password != null">password = #{password},</if>
			<if test="email != null">email = #{email},</if>
			<if test="adminYn != null">adminYn = #{adminYn},</if>
			<if test="deptNm != null">deptNm = #{deptNm},</if>
			<if test="deptNo != null">deptNo = #{deptNo},</if>
			<if test="positionNm != null">positionNm = #{positionNm},</if>
			<if test="userType != null">userType = #{userType},</if>
			<if test="description != null">description = #{description},</if>
			<if test="useYn != null">use_yn = #{useYn},</if>
			<if test="check_yn != null">check_yn = #{check_yn},</if>
		</set>
		WHERE idx = #{idx}
	</update>

	<select id="checkDuplication" parameterType="user" resultType="int">
		SELECT count(*) FROM user WHERE userId = #{userId}
	</select>
	
	
</mapper>
